<mat-card class="image-card">
    <mat-card-header>
        <mat-card-title>Services</mat-card-title>
    </mat-card-header>
    <img class="service-image" [src]="serviceImages[currentIndex]">
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="displayNextImage()">NEXT</button>
        <button mat-raised-button color="primary" (click)="displayPrevImage()">PREV</button>
    </mat-card-actions>
</mat-card>
<mat-grid-list cols="3">
    <mat-grid-tile>
        <pest-control-card [pestControlItem]="homePestControlService"></pest-control-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <pest-control-card [pestControlItem]="termitesAndLawnMaintenanceService"></pest-control-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <pest-control-card [pestControlItem]="lawnAndTreesService"></pest-control-card>
    </mat-grid-tile>
</mat-grid-list>

<!-- <mat-card class="image-card">
    <img mat-card-image src="./../../assets/images/truck.jpg">
</mat-card> -->