
  
<div style="display:flex">
    <mat-card class="home-card">
        <mat-card-header>
          <mat-card-title>About TNT Environmental Services</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img src="../../assets/images/tnt-logo.jpg" width="230" height="140">
          <p>
            {{aboutFirstMessage}}
            <br>
            <br>
            {{aboutSecondMessage}}     
          </p>            
        </mat-card-content>
      </mat-card>
    
      <mat-card class="home-card">
        <mat-card-header>
          <mat-card-title>
              TNT Environmental Services is certified in these areas:
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li *ngFor="let service of certifiedServices">
              {{service}}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
</div>

  
